* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box; 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}



body {
	color: #828181;
	font-size:22px;
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
}

nav {
	float:right;
	font-size: .75em;
	padding: 3.5em 0 1em 0;
}


nav a {
    margin: 0 1em;
    color: #828181;
	text-decoration: none;
	padding-bottom: .5em;

}


nav a:hover, a:active {
    color: #249FDA;
    border-bottom: .3em solid #249FDA;
	color: #828181;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li{
	float: left;
}



header {
    padding:2em 2.5em;
}

header img {
	width: 17em;
}

#splash {
	background-image:url("../images/stock.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top: 35em;
	height:90vh;
}


.text_on_image {
	text-align: center;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
	width: 130px;
	margin: 0 auto;
	padding: .5em;
}

.text_on_image p {
	font-size: 1.15em;
	color: #249FDA;
}

.text_on_image a {
	text-align: center;
    border-radius: 10px;
	color: #249FDA;
	text-decoration: none;
}


h1 {
	font-family: "le-monde-journal-std-2",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:1.25em;
	text-align: center;
	padding: 1em 0;
	color: #D84832;
}

#headline {
	text-align: center;
	width: 1200px;
	line-height: 1.5em;
	margin: 2em auto;
}

.images {
	width: 66%;
    margin: 0 auto;
}

.wrapper {
	float: left;
	width: 66%;

}

.figure {
	float: left;

}

.figure img {
	float: left;
	margin: 0 .5em 1em 0;
	clear: both;
}

.right_image {
	float: left;
    width: 33%;

}


figcaption{
	background-color: #3580BF;
	float: left;
	font-size: 1em;
	text-align: center;
	padding: .5em;

}

.figure a, .right_image a {
	color: #249FDA;
	margin: .25em;
	padding: 1em 2em 0em 0em;
	color: #fff;
	text-decoration: none;

}

.figure a:hover, .right_image a:hover {
    color: #b9e2fa;
	text-decoration: none;
}

.figure a:active, .right_image a:active {
    color: #249FDA;
	text-decoration: none;
	border-bottom: 0em;
}



footer {
	padding: 2em 0;
	clear: both;
}

footer p {
	text-align: center;
	font-size: .95em;

}











