* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box; 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}

#wrapper {
   max-width: 1670px;
   margin: 0 auto;
}

body {
	color: #828181;
	font-size:22px;
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
}

nav {
	float:right;
	font-size: 1em;
	padding-top: 2.5em;
}


nav a {
    width: 4.5em;
	margin: .25em;
	padding: 1em 2em 0em 0em;
	color: #828181;
	text-decoration: none;

}


nav a:hover, a:active {
    color: #249FDA;
    border-bottom: .3em solid #249FDA;
    width: 4.5em;
	margin: .25em;
	padding: 1em 2em 0em 0em;
	color: #828181;
	text-decoration: none;

}

ul {
	list-style-type: none;
}

li{
	float: left;
}



header {
    padding:2em 2.5em;
}

header img {
	width: 17em;
}

#splash {
	background-image:url("../images/stock.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top: 33em;
	height:90vh;
	clear: both;
}


.text_on_image {
	text-align: center;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
	width: 130px;
	margin: 10em auto;
	padding: .5em;
}

.text_on_image p {
	font-size: 1.15em;
	color: #249FDA;
}

.text_on_image a {
	text-align: center;
    border-radius: 10px;
	color: #249FDA;
	text-decoration: none;
}


h1 {
	font-family: "le-monde-journal-std-2",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:1.25em;
	text-align: center;
	padding: 1em 0;
	color: #D84832;
}

#headline {
	text-align: center;
	width: 1200px;
	line-height: 1.5em;
	margin: 2.5em auto;
}

p {

}


#photos {
	width: 1475px;
	margin: auto;

}

#photos a {
	color: #249FDA;
	width: 4.5em;
	margin: .25em;
	padding: 1em 2em 0em 0em;
	color: #fff;
	text-decoration: none;
}

#photos a:hover{
    color: #b9e2fa;
	text-decoration: none;
}

#photos a:active{
    color: #249FDA;
	text-decoration: none;
	border-bottom: 0em;

}

figcaption {
	font-size: 1em;
	text-align: center;
	padding: .5em;

}

.about {
	width: 554px;
    background-color: #3580BF;
}

.admissions {
	width: 338px;
    background-color: #3580BF;
}

.contact {
	width: 417px;
	background-color: #3580BF;
}

.programs {
	width: 554px;
    background-color: #3580BF;
}

.community {
	width: 338px;
    background-color: #3580BF;
}

.about_image, .admissions_image, .programs_image, .community_image {
	float: left;
}

.contact_image {
	float: right;
}

footer {
	padding: 2em 0;
	clear: both;
}

footer p {
	text-align: center;
	font-size: .95em;

}









