

body {
	color: #666666;
	font-size:24px;
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
}
nav {
	float:right;
}
h1 {
	font-family: "le-monde-journal-std-2",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:1.25em;
	text-align: center;
	padding-top: 1em;
	color: #D84832;
}

p {
	text-align: center;
	padding: 20px 45px 50px 45px;
	margin: 0em 10em 0em 10em;

}

ul {
	list-style-type: none;
}

li{
	float: left;
}

a {
	font-size: 1em;
	width: 4.5em;
	margin: .25em;
	padding: 1em;
	color: #666666;
	text-decoration: none;
}

a:hover, a:active {
    color: #249FDA;
    text-decoration: underline;
}

#splash {
	background-image:url("../images/twogirls3_A.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	margin: 1em 0em 0em 0em;
	height:95vh;
}

footer {
	padding: 2em;
	font-size: 1em;
}









