body {
	color: #666666;
	font-size:16px;
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
}
nav {
	float:right;
}
h1 {
	font-family: Times, serif;
	font-weight: normal;
	font-size: 1.5em;
	text-align: center;
	color: #D84832;
}

p {
	text-align: center;
}

ul {
	list-style-type: none;
}

li{
	float: left;
}

a {
	display: block;
	width: 90px;
	margin: .25em;
	padding: 1em 0 0 0;
	color: #666666;
	text-decoration: none;
}

a:hover, a:active {
    color: #249FDA;
    text-decoration: underline;
}

