* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box; 
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}

body {
	color: #828181;
	font-size:24px;
	font-family: Arial, sans-serif;
	background-color: #FFFFFF;
}

nav {
	float:right;
	font-size: 95%;
	padding-top: 2.35em;
}

nav a {
	margin-right: 2.5em;
	padding-top: 2.15em;
    color: #828181;
	text-decoration: none;
}

nav a:hover, a:active {
    color: #249FDA;
    border-bottom: .3em solid #249FDA;
	color: #828181;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

li{
	float: left;
}

header {
    padding: 3em 0 5em 3em;
}

header img {
	float: left;
	padding-bottom: 3em;
	width: 16em;
}

#splash {
	background-image:url("../images/stock.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top: 36em;
    height: 95vh;
}


#splash p {
	text-align: center;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    font-size: 110%;
	width: 155px;
	padding: .5em;
	margin: 0 auto;
	color: #249FDA;
}



.text_on_image a {
	text-align: center;
    border-radius: 10px;
	color: #249FDA;
	text-decoration: none;
}


h1 {
	font-family: "le-monde-journal-std-2",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:110%;
	text-align: center;
	padding: .5em 0;
	color: #D84832;
}



#headline {
	text-align: center;
	width: 60%;
	line-height: 1.5em;
	margin: 2% auto 2.5% auto;
}


.left-wrapper {
	float: left;
	width: 66%;
}

.right-wrapper {
	float: right;
    width: 33%;
}


.wide {
	float: left;
	color: #fff;
	text-decoration: none;
	width: 66%;
	margin-right: 1%;
}


.wide_2 {
	float: left;
	color: #fff;
	text-decoration: none;
	width: 33%;
}

.wide_right {
	color: #fff;
	text-decoration: none;
}

.left-wrapper img, .right-wrapper img {
  width: 100%;
  display: block;
  margin-bottom: 2%;
}

.wide figcaption {
  padding: 3%;
}

.wide_2 figcaption {
  padding: 6%;
}

.wide_right figcaption {
   padding: 3.95%;
}

/*.figure a, .right_image a {
	color: #249FDA;
	margin: .25em;
	padding: 1em 2em 0em 0em;
	color: #fff;
	text-decoration: none;

}

.figure a:hover, .right_image a:hover {
    color: #b9e2fa;
	text-decoration: none;
}

.figure a:active, .right_image a:active {
    color: #249FDA;
	text-decoration: none;
	border-bottom: 0em;
}
*/

figcaption{
	background-color: #3580BF;
	font-size: 1em;
	text-align: center;
}


footer {
	padding: 2em 0;
	clear: both;
}

footer p {
	text-align: center;
	font-size: .95em;

}


@media only screen and (max-width: 768px) {
.left-wrapper, .right-wrapper, .wide, .wide_2, h1, #headline {
 float: none;
 width: auto;
}

#splash {
	background-image:none;
	background-size:none;
	background-repeat:none;
	padding-top: 0em;
	height:0vh;
}

.text_on_image, .text_on_image p, .text_on_image a {
	text-align: none;
    background-color: none;
    border-radius: 0px;
	width: 0;
	margin: 0;
	padding: 0;
	color: none;
	font-size: 0;
   }

nav, nav a, nav a:hover, a:active {
    color: #249FDA;
	border-bottom: 0;
    text-decoration: none; 
	float:none;
	font-size: 0;
	padding: 0;
	color: none;
	text-decoration: none;
}


#headline {
	font-size: 80%;
    width: none;
	margin-bottom: 5%;
	padding: 0 10%;
}

#headline p {
	font-size: 60%;
	line-height: 150%;
}

header, header img {
	width: 70%;
	padding: 10% 0 5% 5%;
	display: block;
}

.right-wrapper img {
  width: 0;
  display: none;
  margin-bottom: 0;
}
 
}









