
* { 
	margin:0; 
	padding:0; 
	box-sizing: border-box; 
}


#wrapper {
	max-width:1700px; 
	margin: 0 auto;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}


body {
   font-family: 'Khula', sans-serif;

}

header {
	padding: 3.25em 0 0 2em;

}


h1 {
	float: left;
 	color: #9900FF;
 	font-size: 40px;
 	font-weight: 400;

}

nav {
	float: right;
	clear: both;
}

nav a {
	text-decoration: none;
	font-size: 1.25em;
	color: #999;
	padding-right: 2em;
}

nav li {
	display: inline;
}


#hero {
	background-image: url("../../unit_6/images/placeholder.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top: 5em;
	margin-top: 2em;
	height:80vh;
	clear:both;
}


.text_on_image {
    background-color: rgba(77,77,77,0.5);
	width: 38%;
	padding: 2em;

}


.text_on_image h2 {
	font-weight: 300;
	font-size: 2.5em;
	color: #fff;
	margin-bottom: .5em;
}

.text_on_image p {
	font-weight: 300;
	font-size: 1.65em;
	color: #fff;
}


h2 {
	font-size: 40px;
}

h3 {
	color: #999;
	font-size: 1.25em;
}

p {
    color: #fff;
    line-height: 1.5em;
}


#block {
	background-color: #939191;
	padding: 2em 2em 8em 2em;
	margin: 1em 0 4em 0;
	clear: both;

}


#block h2 {
	float: left;
	font-weight: 300;
	font-size: 2em;
	color: #fff;
}

#block p {
	float: right;
	width: 80%;
	font-weight: 300;
	font-size: 1.35em;
	color: #fff;
}

.side_nav {
	float: left;
	padding-left: 2em;
	clear: both;
}

.side_nav a {
	text-decoration: none;
	font-size: 1.25em;
	line-height: 1.45em;
	color: #999;
}



a:hover {
   color: #9900FF;
}



.top {
	float:right;
	margin-bottom: 2em;
	width: 40%;
}

.bottom {
	float:right;
	width: 40%;
}


footer {
     padding-left: 2em;
     padding-bottom: 3em;
     clear: both;
}


footer h3 {
	line-height: 3em;
    float:left;
    clear: both;
}


#link1 {
   float:right;
   width: 80%;
   clear: both;
}
#link2 {
   float:right;
   width: 80%;
   clear: both;
}



